langchain
langchain-community
openai
huggingface_hub
torch 
transformers
langchain-cli
flask
scikit-learn
pandas
sentence_transformers
pypdf
#faiss-gpu
faiss-cpu
tf-keras
#pip install ipykernal  ##for running in notebook


